label{
  display: block;
}

input{
  border: none;
  box-shadow: none!important;
  outline: none!important;
}

:root {
  --background-sunny: #a1bff4;
  
  --background-main: #f5f8fd;
  --white: #ffff
}

.hidden{
  display: none!important;
  transition: all 1.5s;
}

.animation{
  transition: all 1.5s;
}

.box-teste{
  border: 2px solid black;
}

.main-container{
  width: 100%;
  max-width: 800px;

  padding: 15px 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  background-color: #f5f8fd;
}

.container-tempo-atual{
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;

  padding: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: var(--background-sunny);
  color: white;
}

.container-tempo-secundario{
  width: 100%;
  padding: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-infos-atuais{
  display: flex;
  flex-direction: column;
  
  width: 80%;
}

.container-tempo-atual p{
  font-size: 18px
}

.container-tempo-atual h1{
  font-size: 50px;
}

.grausCelsius{
  width: 15px;
  height: 15px;
}

.cloudImage{
  min-width: 85px;
}

.icon-small{
  width: 35px;

  padding-right: 0;
  padding-left: 0;
}

.button-submit-cidade{
  max-height: 55px;
}

.busca{
  background: url(../appends/lookfor.svg) no-repeat center left;
  padding: 5px 25px;
  background-size: 15px;
  border: none;
  width: 30px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.busca:focus{
  border-bottom: 1px solid black!important;
  width: 50%!important;
  background-color: transparent!important;
}

.form-control{
  border-radius: 0px;
}

.form-control.is-invalid {
  background: url(../appends/lookfor.svg) no-repeat center left;
  padding: 5px 25px;
  background-size: 15px;
  border: none;
  width: 30px;
  transition: all 0.2s linear;
  cursor: pointer;
}